body{
    background:black;
}
h1{
    background:black;
    color:yellow;
    height:100px;
    text-align: center;
    padding-top:50px;
    font-size: 500%;

}
h3{
    background :linear-gradient(red,green,blue,yellow,skyblue);
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size:xx-large;

}
div{
    background:red;
    height:55px;
    width :300px;
    margin:auto;
    text-align: center;
    font-size: xx;
}
p{
    text-align: center;
    padding-top:25px ;
    font-size: x-large;
    font-weight:bolder;
}